# python virtual environment
venv/

__pycache__
.DS_STORE

# R
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Publication dir
# docs/pub

# ACM latex ignore
acmart.cls
acmart.pdf
acmguide.pdf
sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
